@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --primary-color: rgb(98, 191, 231);
  --secondery-color: rgb(0, 105, 150);
  --color-white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 100px auto;
  background: var(--color-white);
  padding: 20px;
  border-radius: 13px;
}

form input,
from label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--secondery-color);
}

form button {
  border: none;
  background: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--secondery-color);
}

form button:active {
  background: rgb(121, 121, 121);
}

.badValue {
  color: red;
}